Here I'm trying to analyze the [free datasets](https://developer.imdb.com/non-commercial-datasets/) provided by IMDB.

In [1]:
import pandas as pd

In [2]:
df_title_basics = pd.read_csv("../data/title.basics.tsv", sep="\t")
df_title_basics

/tmp/ipykernel_271612/3619878085.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_title_basics = pd.read_csv('../data/title.basics.tsv', sep='\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short
...,...,...,...,...,...,...,...,...,...
11340742,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,Drama
11340743,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,Drama
11340744,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,Drama
11340745,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
11340746,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [3]:
df_title_ratings = pd.read_csv("../data/title.ratings.tsv", sep="\t")
df_title_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      2113
1        tt0000002            5.6       285
2        tt0000003            6.4      2147
3        tt0000004            5.3       183
4        tt0000005            6.2      2870
...            ...            ...       ...
1517428  tt9916730            7.0        12
1517429  tt9916766            7.1        24
1517430  tt9916778            7.2        37
1517431  tt9916840            6.9        11
1517432  tt9916880            7.9         9

[1517433 rows x 3 columns]

In [4]:
df_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11340747 entries, 0 to 11340746
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 778.7+ MB

In [5]:
df = pd.merge(df_title_basics, df_title_ratings, how="inner", on="tconst")
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,2113
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",5.6,285
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance",6.4,2147
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",5.3,183
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short,6.2,2870
...,...,...,...,...,...,...,...,...,...,...,...
1517428,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,12
1517429,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019,\N,43,"Family,Game-Show,Reality-TV",7.1,24
1517430,tt9916778,tvEpisode,Escape,Escape,0,2019,\N,\N,"Crime,Drama,Mystery",7.2,37
1517431,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014,\N,11,"Adventure,Animation,Comedy",6.9,11
1517432,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy",7.9,9

In [6]:
df["titleType"].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvEpisode', 'tvSeries',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame'], dtype=object)

In [7]:
useful_title_types = ["movie", "tvMovie", "tvSeries", "tvMiniSeries"]
df = df[df["titleType"].isin(useful_title_types)]
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,216
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.2,544
339,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,4.4,18
374,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,952
384,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.7,29
...,...,...,...,...,...,...,...,...,...,...,...
1517407,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War",3.6,19
1517409,tt9916460,tvMovie,Pink Taxi,Pink Taxi,0,2019,\N,\N,Comedy,8.9,19
1517413,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,9
1517426,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,7.7,9
1517428,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,12

In [10]:
df = df.dropna()
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,216
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.2,544
339,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,4.4,18
374,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,952
384,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.7,29
...,...,...,...,...,...,...,...,...,...,...,...
1517407,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War",3.6,19
1517409,tt9916460,tvMovie,Pink Taxi,Pink Taxi,0,2019,\N,\N,Comedy,8.9,19
1517413,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,9
1517426,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,7.7,9
1517428,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,12

In [12]:
df["imdb_id"] = df["tconst"].apply(lambda x: int(x.lstrip("t")))
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,imdb_id
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,216,9
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.2,544,147
339,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,4.4,18,502
374,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,952,574
384,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.7,29,591
...,...,...,...,...,...,...,...,...,...,...,...,...
1517407,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War",3.6,19,9916428
1517409,tt9916460,tvMovie,Pink Taxi,Pink Taxi,0,2019,\N,\N,Comedy,8.9,19,9916460
1517413,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,9,9916538
1517426,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,7.7,9,9916706
1517428,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,12,9916730

I want to check, if I can get the top-250 as on IMDB

In [15]:
df = df[df["startYear"] != "\\N"]
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,imdb_id
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,216,9
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.2,544,147
339,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,4.4,18,502
374,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography",6.0,952,574
384,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama,5.7,29,591
...,...,...,...,...,...,...,...,...,...,...,...,...
1517407,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War",3.6,19,9916428
1517409,tt9916460,tvMovie,Pink Taxi,Pink Taxi,0,2019,\N,\N,Comedy,8.9,19,9916460
1517413,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,9,9916538
1517426,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,7.7,9,9916706
1517428,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama,7.0,12,9916730

In [22]:
df[(df["numVotes"] > 100000) & (df["titleType"] == "movie")].nlargest(
    250, "averageRating"
)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,imdb_id
84294,tt0111161,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama,9.3,2983880,111161
47595,tt0068646,movie,The Godfather,The Godfather,0,1972,\N,175,"Crime,Drama",9.2,2082028,68646
31248,tt0050083,movie,12 Angry Men,12 Angry Men,0,1957,\N,96,"Crime,Drama",9.0,902253,50083
50165,tt0071562,movie,The Godfather Part II,The Godfather Part II,0,1974,\N,202,"Crime,Drama",9.0,1404719,71562
81691,tt0108052,movie,Schindler's List,Schindler's List,0,1993,\N,195,"Biography,Drama,History",9.0,1495397,108052
...,...,...,...,...,...,...,...,...,...,...,...,...
1142781,tt3315342,movie,Logan,Logan,0,2017,\N,137,"Action,Drama,Sci-Fi",8.1,873394,3315342
1193638,tt3863552,movie,Bajrangi Bhaijaan,Bajrangi Bhaijaan,0,2015,\N,163,"Action,Adventure,Comedy",8.1,101980,3863552
1202448,tt4016934,movie,The Handmaiden,Ah-ga-ssi,0,2016,\N,145,"Drama,Romance,Thriller",8.1,182430,4016934
1265234,tt5027774,movie,"Three Billboards Outside Ebbing, Missouri","Three Billboards Outside Ebbing, Missouri",0,2017,\N,115,"Comedy,Crime,Drama",8.1,571587,5027774
1286693,tt5323662,movie,A Silent Voice: The Movie,Koe no katachi,0,2016,\N,130,"Animation,Drama",8.1,111963,5323662

And now I need a list of genres

In [24]:
genres = set()
for genre_list in df[df["genres"] != "\\N"]["genres"].unique():
    genres.update(genre_list.split(","))
genres

{'Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western'}