In [ ]:
# ruff: noqa: F403, F405
from what2watchnextbot.dataimport import *

In [ ]:
df = read_dataframe("../data/title.basics.tsv", "../data/title.ratings.tsv")

In [3]:
df = preprocess_dataframe(df)

/home/antos07/Projects/Personal/What2WatchNextBot/what2watchnextbot/dataimport.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["originalTitle", "runtimeMinutes", "isAdult"], inplace=True)

In [4]:
df

,titleType,primaryTitle,startYear,endYear,genres,averageRating,numVotes,id
id,,,,,,,,
9,TitleTypes.MOVIE,Miss Jerry,1894,NaN,[Romance],5.4,216,9
147,TitleTypes.MOVIE,The Corbett-Fitzsimmons Fight,1897,NaN,"[Documentary, News, Sport]",5.2,544,147
574,TitleTypes.MOVIE,The Story of the Kelly Gang,1906,NaN,"[Action, Adventure, Biography]",6.0,952,574
591,TitleTypes.MOVIE,The Prodigal Son,1907,NaN,[Drama],5.7,29,591
615,TitleTypes.MOVIE,Robbery Under Arms,1907,NaN,[Drama],4.3,27,615
...,...,...,...,...,...,...,...,...
9916428,TitleTypes.MOVIE,The Secret of China,2019,NaN,"[Adventure, History, War]",3.6,19,9916428
9916460,TitleTypes.MOVIE,Pink Taxi,2019,NaN,[Comedy],8.9,19,9916460
9916538,TitleTypes.MOVIE,Kuambil Lagi Hatiku,2019,NaN,[Drama],8.3,9,9916538
9916706,TitleTypes.MOVIE,Dankyavar Danka,2013,NaN,[Comedy],7.7,9,9916706
9916730,TitleTypes.MOVIE,6 Gunn,2017,NaN,[Drama],7.0,12,9916730

In [5]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Index: 480515 entries, 9 to 9916730
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   titleType      480515 non-null  object
 1   primaryTitle   480515 non-null  object
 2   startYear      480515 non-null  int64
 3   endYear        57597 non-null   float64
 4   genres         480515 non-null  object
 5   averageRating  480515 non-null  float64
 6   numVotes       480515 non-null  int64
 7   id             480515 non-null  int64
dtypes: float64(2), int64(3), object(3)
memory usage: 146.0 MB

In [6]:
df.memory_usage(deep=True)

Index             3844120
titleType        26908840
primaryTitle     32483438
startYear         3844120
endYear           3844120
genres           70615976
averageRating     3844120
numVotes          3844120
id                3844120
dtype: int64

In [7]:
genres = extract_genres(df)
genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [8]:
import sqlalchemy as sa
import sqlalchemy.orm as orm

In [9]:
engine = sa.create_engine("postgresql+psycopg://localhost/what2watchnextbot")
session = orm.Session(bind=engine)

In [10]:
write_dataframe_to_db(df, session)

In [13]:
session.commit()